page-home {
	.searchbar-md {
		padding: 30px;
        background-color:#131313;
	}
	.searchbar-md .searchbar-input{
		background-color: rgba(255,255,255, 0.8);
		height: 60px;
		font-size: 2.0rem;
		color: #616161;
	}

	.searchbar-md .searchbar-search-icon{
		left: 20px;
		top: 20px;
	}

    .card-md{
        height: 600px;
    }
    .card-title-md{
        font-family: TradeGothicBold;
        min-width: 100%;
        height: 120px;
        white-space: normal;
        margin-top: 15px;

    }
    .card-content-md{
        white-space: normal;
        text-align:center;
    }
    .button_box{
        margin-left: 10px;
        width: 300px;
        background-color: transparent;
    }

    .container-fluid{
        text-align:center;
        align-content: center;
    }
    // .center{
    //     align-items:center;
    // }
    .portrait{
        bottom: 0;
    }


}




